
<h2>Please notice my url, the querry parameter is used by setting a ?key= (NO SPACES) after our route.</h2>

<h2>So after /querry_show we use ?querry= and any value you put after = will be stored as the value for the :querry key, and
will be displayed below, because I programmed the action to do exactly that.  You can manipulate the data at will, but for simplicity
we are just displaying the information below.</h2>



<h1><%= @value %></h1>
