
<h2>Please notice my url, the wild_card parameter is used by simply entering information after the route. Unlike the querry
parameter, our key here is hidden to the user.</h2>

<h2>So after /wild_card_show we just add a / and any info entered after that will be stored in our hidden :wild_card key
and the information displayed below, because I programmed it that way.</h2>




<h1><%= @value %></h1>
